.loginpage {
  gap: 45px;
  margin-top: 250px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__form {
  flex-direction: column;
  display: flex;
  gap: 45px;
  align-items: center;
}
.inputs {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.text__input {
  border: 3px solid black;
  border-radius: 7px;
  font-size: 25px;
  height: 35px;
  transition: transform 0.2s ease-in;
}
.text__input:focus {
  transform: scale(1.2);
}
.submit__btn {
  border: 3px solid black;
  border-radius: 7px;
  background-color: white;
  width: 35%;
  height: 35px;
  font-size: 25px;
  transition: transform 0.2s ease-in;
}

.submit__btn:hover {
  transform: scale(1.2);
}
